{% extends "base.html" %}

{% block titulo %} Meu Blog ==> Comentando Post {{ post.titulo }} {% endblock %}

{% block conteudo %}
<section data-bs-version="5.1" class="features16 cid-tzVjbxlXj9" id="features17-6">

    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Comentando Post {{ post.titulo }}</strong>
                        </h6>
                        <form class="form form-vertical" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_div }}
                            <div>
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}